.product__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
  margin: 50px auto;
  gap: 5px;
  justify-items: center;
}

.outer_container {
  margin: 0 auto;
}

.results {
  font-weight: 600;
}

hr {
  border: solid 1px #ddd6d6;
}
